
html, body {
    overflow-y: scroll;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.divEncabezado h1,
.divFormulario h1 {
    margin: 0;
    color: #f0f0f0;
    font-size: 8vh;
}

h2 {
    text-align: center;
    color: #4f6d4f;
    font-size: 3vh;
    margin: 0;
}

.abrirSidebar {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #6aaf4d;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

.contenidoSidebar {
    padding: 1vh;
    color: white;
}

.divEncabezado {
    height: 25vh;
    background-color: #5a7d5a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.contenedorEncabezado {
    text-align: center;
    border-radius: 10vh;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
}


.btn {
    background: #6aaf4d;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
}




.opciones {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #4f5f4f;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 8px;
    min-width: 200px;
}


.ficha {
    background-color: #6aaf4d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    color: white;
}

.precio {
    color: #333;
    font-size: 22px;
}

.ficha button {
    border: none;
    padding: 12px;
    color: white;
    background-color: #333;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}