html, body {
    overflow-y: scroll;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.divEncabezado h1,
.divFormulario h1 {
    margin: 0;
    color: #f0f0f0;
    font-size: 8vh;
}

h2 {
    text-align: center;
    color: #4f6d4f;
    font-size: 3vh;
    margin: 0;
}

.abrirSidebar {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #6aaf4d;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

.contenidoSidebar {
    padding: 1vh;
    color: white;
}

.divEncabezado {
    height: 25vh;
    background-color: #5a7d5a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.contenedorEncabezado {
    text-align: center;
    border-radius: 10vh;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.espacioInput {
    width: 94vh;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4f5f4f;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
    margin-top: 15px;
}

.input {
    width: 90vh;
    height: 4vh;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 30px;
    padding-left: 15px;
    color: #333;
    font-size: 13.4px;
}

.iconoLupa {
    font-size: 16px;
    color: #666;
    margin-left: -25px;
    cursor: pointer;
}

.btn {
    background: #6aaf4d;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
}

.botonDrop {
    display: none;
    background: #4f6d4f;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
}

.opciones {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #4f5f4f;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 8px;
    min-width: 200px;
}

.opciones select {
    background-color: #6aaf4d;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.checkboxes-opciones label {
    display: block;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.divPagina {
    display: grid;
    background-color: #f0f0f0;
    height: auto;
}

.contenedorPagina {
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5vh;
    background-color: #666;
    padding: 4vh;
}

.ficha {
    background-color: #6aaf4d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    color: white;
}

.precio {
    color: #333;
    font-size: 22px;
}

.ficha button {
    border: none;
    padding: 12px;
    color: white;
    background-color: #333;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.divFormulario {
    background-color: #4f6d4f;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.divFormulario:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#formulario {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
}

.contenedorFormulario h2 {
    text-align: center;
    color: #333;
}

.contenedorFormulario .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


#formulario .btnCerrar {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.contenedorFormulario .mensaje {
    height: 100px;
    resize: none;
}